@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.3;
  font-weight: 10px;
}

li,
ul,
dl,
ol {
  list-style: none;
  color: #313232;
}

a {
  text-decoration: none;
  color: #313232;
}

button, input img{
  vertical-align: top;
}

.clear::after{
  content: '';
  display: block;
  clear: both;
}

#wrap{
  width: 100%;
  height: 100%;
  background-color: #c4e4de;
  overflow: hidden;
}

.inner{
  width: 1185px;
  padding: 100px 120px;
}